<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<title>NPC</title>
</head>
<body>
	<header>
		<h1>NPC Creator</h1>
	</header>
	<button class="buttonIndex" onclick="return location.href = 'http://127.0.0.1:5000/hairs'">Hairs</button>
	<button class="buttonIndex" onclick="return location.href = 'http://127.0.0.1:5000/faces'">Faces</button>
	<button class="buttonIndex" onclick="return location.href = 'http://127.0.0.1:5000/npcs'">NPCs</button>
	<button class="buttonIndex" onclick="return location.href = 'http://127.0.0.1:5000/regions'">Regions</button>
	<!-- <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script> -->
</body>
</html>