<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<title>NPC Creator</title>
</head>
<body>
	<header>
		<h1 onclick="return location.href = 'http://127.0.0.1:5000'" style="cursor: pointer;">NPC Creator</h1>
	</header>
	<h2>Hairs</h2>
	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        {% for message in messages %}
				<div class="notify"><span id="notifyType" class="" style="Content: '';">{{message}}</span></div>
	        {% endfor %}
	    {% endif %}
	{% endwith %}

	<form id="form" class="form" method="post" action="#">
    	<fieldset style="border-bottom: 4.5px solid #677c90">
    		<h4 id="form-title">Create</h4>
    	</fieldset>
  			    	<fieldset>
			<label class="labelTitle" for="hairFile">Hair</label>
    		<input class="input-text shortInput" placeholder="hairFile_0" type="text" name="hairFile" required>
    	</fieldset>
    	<fieldset>
			<label class="labelTitle" for="color">Color</label>
    		<input class="input-text shortInput" placeholder="10dabd" id="inputId" type="text" name="color" required>
    	</fieldset>
		<fieldset>
			<button class="button" name="submit" type="submit" value="create">Create</button>
			<button class="button" name="button_r" type="reset" id="button_r" style="border-top: 0; border-bottom: 0;">Restore</button>
		</fieldset>
	</form>
	<form id="form" class="form" method="post" action="#">
	    	<fieldset style="border-bottom: 4.5px solid #677c90">
	    		<h4 id="form-title">Search</h4>
	    	</fieldset>
	    	<fieldset style="margin-top: 2vw;">
	    		<label class="labelTitle" for="search">Condition</label>
	    		<input class="input-text searchInput" placeholder="color='10dabd'" type="text" name="search" style="font-family: Roboto-Thin;">
	    	</fieldset>
			<fieldset>
				<button class="button" name="submit" type="submit" value="search">Search</button>
				<button class="button" name="button_r_S" type="reset" id="button_r_S" style="border-top: 0; border-bottom: 0;">Restore</button>
				<button class="button" name="submit" type="submit" value="showAll" style="border-right: 0; border-left: 0; width: 10vw;">Show all rows</button>
			</fieldset>
		</form>
	<table>
		<thead>	
			<tr>
				<th></th>
			    <th>Hair File</th>
			    <th>Color</th>
			    <th>Delete</th>
			</tr>
		</thead>
		<tbody>		
			{% for item in data %}
			<tr>
				<td>{{loop.index}}</td>
			    <td onclick="getDataHairs('{{item[0]}}', '{{item[1]}}');" style="cursor: pointer;">{{item[0]}}</td>
			    <td onclick="getDataHairs('{{item[0]}}', '{{item[1]}}');" style="cursor: pointer;">{{item[1]}}</td>
			    <td class="tdDeleteBtn"> <form action="?hairFile={{item[0]}}&color={{item[1]}}" method="post">
<button class="deleteBtn Btn" type="submit" name="submit" value="delete" onClick="return confirm('Are you sure you want to delete?')">&#10006</button> </form></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
	<footer></footer>
</body>
</html>